body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}
#navbar ul, li {
  list-style-type: none;
  display: inline
}
#navbar {
  box-shadow: 10px 10px 10px gainsboro;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 30px;
  font-weight: 700;
}
#navbar a {
  text-decoration: none;
}
