body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f7e1f1;
}
#navbar ul, li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}
#navbar {
  box-shadow: 10px 10px 10px #dcdcdc30;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 30px;
  font-weight: 700;
  background-color: white;
  item-align: center;
}
#navbar #main-nav a {
  text-decoration: none;
  color: black;
}
#navbar #main-nav a:hover {
  color: #009fe6;
  border-bottom: 2px solid;
  border-bottom-color: #009fe6;
}
#right-area {
  margin-left: 500px;
}
#talk-to-our-sales a{
  text-decoration: none;
  color: purple;
  border: 2px solid;
  padding: 20px;
  border-color: purple;
  border-radius: 10px;
}
