a {
  color: white;
}
body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #120065;
}
#navbar ul, li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}
#navbar {
  box-shadow: 10px 10px 10px #dcdcdc63;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 30px;
  font-weight: 700;
  background-color: white;
  item-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
}
#navbar #main-nav a {
  text-decoration: none;
  color: black;
}
#navbar #main-nav a:hover {
  color: #009fe6;
  border-bottom: 2px solid;
  border-bottom-color: #009fe6;
}
#right-area {
  margin-left: 550px;
}
#talk-to-our-sales a{
  text-decoration: none;
  color: purple;
  border: 2px solid;
  padding: 20px;
  border-color: purple;
  border-radius: 10px;
}
#talk-to-our-sales a:hover{
  background-color: purple;
  color: white;
}
main {
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 140px;
  color: white;
}
#large {
  font-size: 60px;
}
#text-explainer {
  font-size: 30px;
}
