#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
input {
 height: 25px;
}
#player
{
 background-color:#c3def7;
 width:400px;
 margin-left:300px;
 padding:5px;
 item-align: center;
 box-sizing:border-box;
 border: 1.50px solid;
 border-color: #8bc6f9;
 border-radius: 25px;
}
input[type="image"]
{
 float:left;
 height:25px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}
#vol_img
{
 margin-left:120px;
 height:25px;
}
